body {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: pink;}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.header{
    top: 0px;
}

.tableaubody{
    top: 52px;
    left: 152px;
    bottom: 32px;
    right: 0px;
}

.footer{
    bottom: 0px;
    height: 30px;
    left: 0px;
    width: 100%;
}
