/*about and index*/




.common {
    position: absolute;
    border: solid 1px black;
}

.header {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
}

.header img{
    position: absolute;
    top: -100px;
}

.tableau {
    top: 50px;
    left: 0;
    width: 100%;
    bottom: 30px;
}
.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
}
.footerText {
    text-align: center;
}

body {
    font-family:sans-serif;
    font-size: 17px;
    background-color: #e7f3e6;}

  
 li {
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
 }
 a {
    color: black;
    text-decoration: none;
 }
  
 a:hover {
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
 }
  
 a:visited {
    color: black;
 }
  
  
 .resumeListHeading {
    font-weight: bold;
    font-style: normal;
    line-height: 1.8;
 }
  
 .underline {text-decoration: underline;}
 .bold {font-weight: bold;}
  
 .justify {text-align: justify;}
  
.p{
    font-family: Arial, Helvetica, sans-serif;
}

.paragraph{
    padding-left: 115px;
}

.center {
    margin: auto;
    width: 80%;
  }

  .contact{
      margin-left: 195px;
      font-size: 20px;
  }